<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-header-footer fixed-top mb-5">
        <div class="container">
            <img src="https://res.cloudinary.com/dtqkyyzv7/image/upload/v1773997387/LOGO_TICKET_NOBACKGROUND_tdmfnw.png" style="width: 3rem;">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">

                <!-- LEFT: Search + menu -->
                <div class="d-flex align-items-center gap-3 me-1 mx-auto">

<!--                    &lt;!&ndash; Search &ndash;&gt;-->
<!--                    <form class="d-flex position-relative header-search" method="get">-->
<!--                        <i class="bi bi-search position-absolute start-0 ms-3 top-50 translate-middle-y"></i>-->
<!--                        <input class="form-control pe-4 rounded-pill ps-5"-->
<!--                               type="text"-->
<!--                               placeholder="Tìm kiếm phim, rạp phim"-->
<!--                               name="q">-->
<!--                    </form>-->

                    <!-- Menu -->
                    <ul class="navbar-nav align-items-center header-menu">
                        <li class="nav-item ms-2">
                            <a class="nav-link active" href="/">
                                <i class="bi bi-house-door me-1"></i> Trang chủ
                            </a>
                        </li>
                        <li class="nav-item ms-2">
                            <a class="nav-link text-white" href="">
                                <i class="bi bi-film me-1"></i> Phim
                            </a>
                        </li>

                        <li class="nav-item ms-2">
                            <a class="nav-link text-white" href="">
                                <i class="bi bi-camera-reels me-1"></i> Rạp
                            </a>
                        </li>

                        <li class="nav-item ms-2">
                            <a class="nav-link text-white" href="">
                                <i class="bi bi-ticket me-1"></i> Vé của tôi
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- RIGHT: Auth buttons -->
                <ul class="navbar-nav ms-auto header-auth">

                    <li class="nav-item w-100">
                        <div class="d-flex align-items-center justify-content-between auth-row">

                            <!-- LEFT: avatar + name -->
<!--                            <a class="d-flex align-items-center text-white text-decoration-none me-3"-->
<!--                               href="">-->
<!--                                <img src=""-->
<!--                                     width="32"-->
<!--                                     height="32"-->
<!--                                     class="rounded-circle me-2">-->
<!--                                <span class="fw-semibold"></span>-->
<!--                            </a>-->

                            <!-- RIGHT: logout -->
<!--                            <a class="btn btn-dark rounded-pill px-4 btn-gradient btn-logout"-->
<!--                               href="">-->
<!--                                Đăng xuất-->
<!--                            </a>-->

                        </div>
                    </li>


                    <li class="nav-item me-2">
                        <a class="btn btn-danger btn-custom me-3 px-4 py-1 fw-bold d-flex align-items-center rounded-pill text-nowrap justify-content-center" href="">
                        <i class="bi bi-box-arrow-in-right fs-5 me-2"></i> Đăng nhập
                    </a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>