<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-header-footer fixed-top py-0">
        <div class="container-fluid h-100 align-items-center">
            <div class="d-flex align-items-center" style="flex: 1;">
                <a class="navbar-brand d-flex align-items-center m-0" href="#">
                    <img src="https://res.cloudinary.com/dtqkyyzv7/image/upload/v1774015846/LOGO2_gnv4mp.png"
                         style="width: 8rem;">
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-end order-lg-3 gap-2" style="flex: 1;">

                {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="p-1 fw-bold d-flex align-items-center text-decoration-none"
                       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ current_user.avatar }}"
                             alt="Avatar của {{ current_user.username }}"
                             width="36" height="36" class="rounded-circle border border-2 border-secondary">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark mt-2 shadow">
                        <li><span class="dropdown-item-text fw-bold">Xin chào, {{ current_user.username }}</span></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-white" href="/userinfo">
                                <i class="bi bi-person-circle me-2"></i> Tài khoản của tôi
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-danger fw-semibold" href="/logout">
                                <i class="bi bi-box-arrow-right fs-5 me-2"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a class="btn btn-danger btn-custom px-3 py-1 fw-bold align-items-center rounded-pill text-nowrap d-none d-lg-flex"
                   data-bs-toggle="modal" data-bs-target="#authModal" style="cursor: pointer;">
                    <i class="bi bi-box-arrow-in-right fs-5 me-1"></i> Đăng nhập
                </a>
                {% endif %}

                <button class="navbar-toggler border-0 px-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse order-lg-2 bg-dark p-3 p-lg-0 mt-2 mt-lg-0 rounded flex-lg-grow-0"
                 id="mynavbar">
                <ul class="navbar-nav header-menu mx-auto">

                    <li class="nav-item ms-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">
                            <i class="bi bi-house-door me-1"></i> Trang chủ
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link {% if request.path.startswith('/movies') %}active{% endif %}" href="/movies">
                            <i class="bi bi-film me-1"></i> Phim
                        </a>
                    </li>

                    <li class="nav-item ms-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link {% if request.path.startswith('/cinemas') %}active{% endif %}"
                           href="/cinemas">
                            <i class="bi bi-camera-reels me-1"></i> Rạp
                        </a>
                    </li>
                    {%if current_user.is_authenticated%}
                    {% if current_user.role.name == 'USER' %}
                    <li class="nav-item ms-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link {% if request.path.startswith('/tickets') %}active{% endif %}"
                           href="/tickets">
                            <i class="bi bi-ticket me-1"></i> Vé của tôi
                        </a>
                    </li>
                    {% endif %}

                    {% if current_user.role.name in ['STAFF', 'ADMIN'] %}
                    <li class="nav-item ms-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link {% if request.path.startswith('/check_in') %}active{% endif %}"
                           href="/check_in">
                            <i class="bi bi-card-checklist me-1"></i> Quản lý vé phim
                        </a>
                    </li>
                    {% endif %}

                    {% if current_user.role.name == 'ADMIN' %}
                    <li class="nav-item ms-lg-2 mb-2 mb-lg-0">
                        <a class="nav-link {% if request.path.startswith('/admin') %}active{% endif %}"
                           href="/admin">
                            <i class="bi bi-gear me-1"></i> Quản lý chung
                        </a>
                    </li>
                    {% endif %}
                    {%endif%}
                </ul>

                {% if not current_user.is_authenticated %}
                <div class="d-lg-none mt-3 pt-3 border-top border-secondary">
                    <a class="btn btn-danger btn-custom py-2 fw-bold d-flex justify-content-center align-items-center rounded-pill w-100"
                       data-bs-toggle="modal" data-bs-target="#authModal" style="cursor: pointer;">
                        <i class="bi bi-box-arrow-in-right fs-5 me-2"></i> Đăng nhập
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>